@use "root.scss";
@use "mythic-bastionland/app.scss" as *;
@use "mythic-bastionland/chat-message.scss" as *;
@use "mythic-bastionland/sheet.scss" as *;
@use "mythic-bastionland/utils.scss" as *;
@use "mythic-bastionland/style.scss" as *;

.mythic-bastionland {
  --color-shadow-primary: var(--highlight-dark-color);
  --color-text-hyperlink: var(--highlight-dark-color);
  @include utils;
  @include app;
  @include style;
  @include sheet;
  @include chat-message;
}
